.list {
    list-style: none;
    padding-left: 0px !important;

    li {
        padding-top: var(--space-lg);
    }


    &--detailMobile {
        margin: 0px;
        border: solid 1px var(--c-grey-light);

        h5 {
            padding: 10px;
            font-weight: bold;
        }

        h6 {
            padding-left: 10px;
        }
    }

}